/* Reset & Basics (Inspired by E. Meyers)
================================================== */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, address, cite, code, em, img, small, strong, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, embed, figure, figcaption, footer, header, hgroup, menu, nav, section, summary, time, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }


/* Body Styles
================================================== */
body {
  font: 17px/28px ff-meta-serif-web-pro, "Georgia", serif;
  color: #333;
  background: #e4e4e4;
  overflow-x: hidden;
}


/* Typography
================================================== */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-family: atrament-web, SteelfishRg-Regular, sans-serif;
  text-transform: uppercase;
  color: #000;
}
p {
  margin: 0 0 26px 0;
}


/* Links
================================================== */
a {
  color: #b20f1f;
  text-decoration: none;
}
a:hover {
  color: #8d0d19;
}


/*  Layout
================================================== */
.container {
  width: 980px;
  margin: 0 auto;
}
.nav,
.art-header,
.art,
.footer,
.art-listing {
  overflow: hidden;
  max-width: 1400px;
  margin: 0 auto;
  background-color: #fff;
}
/* Self Clearing Goodness */
.container:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}


/*  Navbar
================================================== */

/* Structure */
#logo {
  font-size: 30px;
  line-height: 30px;
  float: left;
}
.nav {
  z-index: 2;
}
.nav .container {
  position: relative;
  padding-top: 50px;
  height: 80px;
  border-bottom: 1px solid #000;
}
.nav ul {
  float: right;
}
.nav li {
  display: inline-block;
  margin-left: 60px;
}
.nav li:first-child {
  margin-left: 0;
}
.nav li a,
.nav #logo h1 {
  font-size: 30px;
  line-height: 30px;
  font-family: atrament-web, SteelfishRg-Regular, sans-serif;
  color: #000;
  text-transform: uppercase;
}

/* White nav */
.nav.white li a,
.nav.white #logo h1{
  color: #fff;
  text-shadow: 0 0 8px rgba(0,0,0,.5);
}
.nav.white .container {
  border-bottom-color: rgba(255,255,255,.3);
}

/*  Main Content
================================================== */
/* Article header */
.art-header {
  height: 500px;
  margin-top: -131px;
  padding-top: 300px;
  background-image: url('http://cl.ly/2p3Q3k0k2o1Q3p1V3X1Z/craftsmanship.jpg');
  background-position: top center;
}
.art-time {
  display: block;
  font-size: 18px;
  font-style: italic;
  text-align: center;
}
.art-title {
  font-size: 150px;
  line-height: 130px;
  margin: -5px 0 10px -4px;
  text-align: center;
}
.art-subtitle {
  font-size: 24px;
  line-height: 30px;
  font-style: italic;
  text-align: center;
}

/* White Header */
.art-header.white .art-time,
.art-header.white .art-title,
.art-header.white .art-subtitle {
  color: #fff;
  text-shadow: 0 0 8px rgba(0,0,0,.5);
}
.art-header.white {
  background-color: #111;
}

/* Body */
.art .container {
  max-width: 600px;
}
.art-content {
  padding: 80px 0 50px;
}
.art-subhead {
  font-size: 50px;
  line-height: 55px;
  margin-bottom: 26px;
}
.callout {
  font-size: 24px;
  line-height: 32px;
  font-style: italic;
  color: #000;
}
.art-content img {
  margin-bottom: 26px;
  max-width: 100%;
}

/* Footer */
/*.art-nav {
  text-align: center;
  font-style: italic;
}
.art-nav a {
  color: #999;
}*/
/*.art-nav .hand {
  position: relative;
  top: 4px;
  font-size: 25px;
}
.art-nav .prev {
  float: left;
  color: #999;
}
.art-nav .next {
  float: right;
  color: #999;
}
.art-nav .prev .hand {
  margin-right: 5px;
}
.art-nav .next .hand {
  margin-left: 5px;
}
*/

/*  Article Listing
================================================== */
.art-listing {
  padding: 50px 0;
}
.art-listing ul {
  margin-left: -40px;
  overflow: hidden;
}
.art-listing li {
 list-style: none;
}
.art-listing li a {
  position: relative;
  color: #555;
  width: 30%;
  float: left;
  margin: 20px 0 0 3.3%;
}
.art-listing li a:hover .art-title {
  color: #8d0d19;
}
.art-listing li a:hover  {
  color: #333;
}
.art-listing li a:hover .art-time {
  color: #777;
}
.art-listing .art-title {
  font-size: 40px;
  color: #000;
  text-shadow: none;
  line-height: 40px;
  margin-bottom: 8px;
}
.art-listing .art-time {
  font-size: 14px;
  color: #999;
  text-shadow: none;
}
.art-listing .art-summary {
  font-size: 15px;
  line-height: 21px;
  text-align: center;
}
.art-thumb {
  width: 100%;
  -webkit-border-radius: 200px;
     -moz-border-radius: 200px;
          border-radius: 200px;
}

/*  Footer
================================================== */
.footer .container {
  border-top: 1px solid #ccc;
  padding: 10px 0 100px;
}
.footer,
.footer a {
  font-size: 15px;
  color: #444;
  font-style: italic;
}
.offsite-links {
  text-align: right;
}
.art-nav {
  text-align: center;
  color: #999;
}
.footer-nav,
.art-nav,
.offsite-links {
  width: 33.3%;
  float: left;
}


/*  Responsive
================================================== */

@media only screen and (max-width: 1000px) {
  .container {
    width: 92%;
  }
}
@media only screen and (max-width: 800px) {
  .art-header {
    height: 340px;
    padding-top: 240px;
  }
  .art-time {
    font-size: 16px;
    text-align: center;
  }
  .art-title {
    font-size: 90px;
    line-height: 94px;
    margin-top: -6px;
    margin-bottom: 4px;
    text-align: center;
  }
  .art-subtitle {
    text-align: center;
    font-size: 18px;
    line-height: 24px;
    width: 80%;
    margin-left: 10%;
  }
  #logo {
    display: none;
  }
  .nav ul {
    margin: 0 auto;
    float: none;
    text-align: center;
  }
  .nav li {
    display: inline;
    float: none;
  }
  .art-listing ul {
    margin-left: 0;
    overflow: hidden;
  }
  .art-listing li a {
    display: block;
    width: 300px;
    float: none;
    margin: 40px auto 0;
  }
}
@media only screen and (max-width: 700px) {
  .footer-nav,
  .copyright,
  .offsite-links {
    float: none;
    width: auto;
    text-align: left;
  }
  .copyright {
    font-size: 14px;
    color: #444;
  }
}
@media only screen and (max-width: 550px) {
  .nav li a {
    font-size: 24px;
  }
  .art-header {
    height: 220px;
    padding-top: 200px;
  }
  .art-time {
    font-size: 14px;
  }
  .art-title {
    font-size: 60px;
    line-height: 65px;
  }
  .art-subtitle {
    font-size: 16px;
    line-height: 20px;
  }
  .art-subtitle {
    font-size: 16px;
    line-height: 20px;
  }
  .nav li {
    margin-left: 30px;
  }
}

/*  Misc
================================================== */
::selection {
  background: #000;
  color: #fff;
}
::-moz-selection {
  background: #000;
  color: #fff;
}

.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }
.row:after,
.clearfix:after {
  clear: both; }
.row,
.clearfix {
  zoom: 1; }