/*

Created by Dave Gamache exclusively for davegamache.com
12/09/2011


Table of Contents
  - Reset & Basics
  - Body
  - Typography
  - Links
  - Layout
  - Nav
  - Article
    - Header
    - Body
    - Simple
  - Footer
  - White Theme
  - Responsive
  - Misc


*/


/* Reset & Basics (Inspired by E. Meyers)
================================================== */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, address, cite, code, em, img, small, strong, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, embed, figure, figcaption, footer, header, hgroup, menu, nav, section, summary, time, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, time, nav, section {
  display: block; }


/* Body
================================================== */
body {
  overflow-x: hidden;
  font: 18px/30px ff-tisa-web-pro, "Georgia", serif;
  color: #333;
  background: #e4e4e4;
}


/* Typography
================================================== */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  color: #000;
}
p {
  margin: 0 0 26px 0;
}
strong {
  font-weight: bold;
}
em {
  font-style: italic;
}


/* Links
================================================== */
a {
  color: #b20f1f;
  text-decoration: none;
}
a:hover {
  color: #8d0d19;
}


/*  Layout
================================================== */
/* White container that is the "page" */
.wrapper {
  max-width: 1400px;
  margin: 0 auto;
  background: #fff;
}
/* Containers to keep content to a set width */
.nav,
.footer,
.art-list {
  width: 980px;
}
.nav,
.art-body-inner,
.footer,
.art-list {
  position: relative;
  margin: 0 auto;
}

/*  Nav
================================================== */

.nav {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -490px;
  z-index: 2;
  padding-top: 40px;
  height: 70px;
  border-bottom: 1px solid #000;
}
.nav.fixed {
  position: fixed;
}
#logo {
  float: left;
}
.nav-primary {
  float: right;
}
.nav-primary li {
  display: inline-block;
  margin-left: 60px;
}
#logo h1,
.nav-primary li a {
  font-size: 20px;
  line-height: 30px;
  color: #000;
  text-transform: none;
}
.nav li:first-child {
  margin-left: 0; /* Remove left margin from the first nav li */
}

/*  Article
================================================== */
.art {
  margin-top: -131px;
}
/* Header */
.art-header {
  height: 900px;
  /* Background image is defined in the post */
  background-position: top center;
  background-attachment: fixed;
  overflow: hidden;
}
/* Contains the time, title and subtitle for an article */
.art-header-inner {
  position: fixed;
  top: 290px;
  left: 0;
  width: 96%;
}
.art-time,
.art-title,
.art-subtitle {
  text-align: center;
  -webkit-transition: font-size .4s ease-in-out, line-height .4s ease-in-out;
     -moz-transition: font-size .4s ease-in-out, line-height .4s ease-in-out;
          transition: font-size .4s ease-in-out, line-height .4s ease-in-out;
}
.art-time {
  font-size: 12px;
  line-height: 12px;
  font-family: Helvetica, sans-serif;
  text-transform: uppercase;
  letter-spacing: 4px;
}
.art-title {
  font-size: 100px;
  line-height: 100px;
  letter-spacing: -2px;
  text-rendering: optimizeLegibility;
  text-transform: uppercase;
}
.art-subtitle {
  font-size: 28px;
  line-height: 30px;
  font-style: italic;
}

/* Body */
.art-body {
  position: relative;
  z-index: 100;
  width: 100%;
  background: #fff;
  -webkit-box-shadow: 0 -3px 3px rgba(0,0,0,.2);
     -moz-box-shadow: 0 -3px 3px rgba(0,0,0,.2);
          box-shadow: 0 -3px 3px rgba(0,0,0,.2);
}
.art-body-inner {
  max-width: 640px;
  padding: 80px 0 50px;
}
.art-body-inner ul { /* For lists in the article body */
  margin-bottom: 26px;
}
.art-body-inner ul li {
  list-style: disc;
}
.dropcap { /* First character on articles */
  float: left;
  font-size: 112px;
  line-height: 0;
  margin: 42px 10px 29px 0;
}
.art-subhead { /* Subheads are used to break up sections of an article */
  font-size: 20px;
  line-height: 40px;
  margin: 60px 0 10px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.callout { /* Callouts are like large pullquotes */
  /*font-size: 28px;
  line-height: 36px;*/
  font-style: italic;
  /*color: #000;*/
  font-weight: bold;
}
.art-body-inner img {
  margin-bottom: 26px;
  max-width: 100%;
  max-height: 600px;
}

/* If simple article */
/*.simple .art-header {
  padding-top: 300px;
  height: auto;
  max-width: 640px;
  margin: 0 auto;
  position: relative;
}
.simple .art-body-inner {
  padding-top: 20px;
}
.simple .art-subtitle {
  display: none;
}
.simple .art-title {
  font-size: 80px;
  line-height: 70px !important;
  text-align: left;
  position: relative;
  margin-left: 0;
  margin-right: 0;
}
.simple .art-time {
  text-align: left;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 5px;
}*/
.simple .art-body {
  background: none;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}
/*.simple .art-header-inner {
  position: static;
}*/


/*  List of Articles
================================================== */
.art-list {
  padding: 100px 0 0;
}
.art-list ul {
  overflow: hidden;
  position: relative;
  /*margin-bottom: 40px;*/
  margin-top: 40px;
}
.art-list li {
  list-style: none;
  float: left;
  border-bottom: 1px solid #ccc;
}
.art-list li:last-child {
  border-bottom: none;
}
.art-list-articles li {
  width: 477px;
}
.art-list-thoughts li {
  width: 220px;
}
.art-list-time {
  font-size: 12px;
  color: #999;
  font-family: Helvetica, sans-serif;
  /*letter-spacing: 1px;*/
  text-transform: uppercase;
  line-height: 16px;
}
.art-list-item p {
  font-size: 16px;
  line-height: 24px;
}
.art-list img {
  max-width: 100%;
}
.art-list-title {
  font-size: 30px;
  line-height: 30px;
  margin-bottom: 10px;
}
.art-list-section-title {
  font-size: 70px;
  line-height: 60px;
  font-weight: bold;
}
.art-list-section-subtitle {
  font-size: 36px;
  line-height: 30px;
  color: #999;
  font-style: italic;
}


/*  Footer
================================================== */
.footer {
  border-top: 1px solid #000;
  padding: 10px 0 100px;
  overflow: hidden;
}
.footer,
.footer a {
  font-size: 15px;
  color: #000;
  font-style: italic;
}
.footer a:hover {
  color: #000;
}
.back-to-top,
.footer-nav,
.offsite-links {
  width: 33.3%;
  float: left;
}
.footer-nav {
  text-align: center;
}
.offsite-links {
  text-align: right;
}
.footer .twitter-link:hover {
  color: #0084B4;
}
.footer .dribbble-link:hover {
  color: #c5376d;
}
.footer .rss-link:hover {
  color: #e85d24;
}
/* Remove prev & next links on loop */
.art-list + .footer .footer-nav a,
.about-me + .footer .footer-nav a {
  visibility: hidden;
}

/*  White Reverse Theme
================================================== */
/* Nav */
.nav.white  {
  border-bottom-color: rgba(255,255,255,.3);
}
.nav.white li a,
.nav.white #logo h1{
  color: #fff;
  text-shadow: 0 0 8px rgba(0,0,0,.5);
}
/* Art header */
.art-header.white {
  background-color: #111;
}
.art-header.white .art-time,
.art-header.white .art-title,
.art-header.white .art-subtitle {
  color: #fff;
  text-shadow: 0 0 8px rgba(0,0,0,.5);
}


/*  Responsive
================================================== */

@media only screen and (max-width: 1080px) {
  .nav,
  .art-body-inner,
  .art-header .art-time,
  .art-header .art-title,
  .art-header .art-subtitle,
  .simple .art-header,
  .footer,
  .art-list,
  .about-me {
    width: 90%;
  }
  /*.art-header .art-title,
  .art-header .art-subtitle {
    margin-left: auto;
    margin-right: auto;
  }*/
  .art-header {
    height: 340px;
    padding-top: 240px;
  }
  .art-time {
    font-size: 16px;
  }
  .art-title {
    font-size: 90px;
    line-height: 80px;
    margin-top: -6px;
    margin-bottom: 4px;
  }
  .art-subtitle {
    font-size: 18px;
    line-height: 24px;
  }
}

@media only screen and (max-width: 750px) {
  .art-body-inner ul {
    margin-left: 20px;
  }
}

@media only screen and (max-width: 500px) {
  .nav {
    height: 55px;
    padding-top: 25px;
  }
  .nav li {
    margin-left: 30px;
  }
  .nav li a,
  .nav #logo h1 {
    font-size: 24px;
  }
  .art-header {
    height: 220px;
    padding-top: 160px;
  }
  .art-time {
    font-size: 17px;
  }
  .art-title {
    font-size: 70px;
    line-height: 65px;
  }
  .simple .art-title {
    font-size: 60px;
    line-height: 60px;
    margin-top: 0;
  }
  .art-subtitle {
    font-size: 17px;
    line-height: 22px;
  }
  .art-body-inner {
    padding-top: 40px;
  }
  .art-subhead {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 15px;
  }
  .about-list {
    font-size: 40px;
    line-height: 42px;
  }
  body {
    font-size: 16px;
    line-height: 26px;
  }
  p {
    margin-bottom: 15px;
  }
  .callout {
    font-size: 18px;
    line-height: 26px;
  }
  .art-list {
    padding-bottom: 20px;
  }
  .art-body-inner ul {
    margin-bottom: 15px;
  }
  .footer {
    padding-bottom: 40px;
  }
  .back-to-top,
  .footer-nav {
    width: 50%;
  }
  .back-to-top {
    text-align: left;
  }
  .footer-nav {
    text-align: right;
  }
  .offsite-links {
    float: left;
    width: 100%;
    text-align: left;
  }
  .offsite-links a {
    font-size: 12px;
  }
  .art-list + .footer .footer-nav {
    display: none;
  }
}


/*  Misc
================================================== */
::selection {
  background: #000;
  color: #fff;
}
::-moz-selection {
  background: #000;
  color: #fff;
}
img.left {
  float: left;
  margin-right: 20px;
}
img.right {
  float: right;
  margin-left: 20px;
}
/* Clearfixing pile */
.nav:before,
.art-body-inner:before,
.footer:before,
.art-list:before {
  content:"";
  display:table;
}
.nav:after,
.art-body-inner:after,
.footer:after,
.art-list:after {
  clear:both;
}
.nav,
.art-body-inner,
.footer,
.art-list {
    zoom:1; /* For IE 6/7 (trigger hasLayout) */
}







.art-list ul li {
  width: 100%;
  padding: 40px 0;
}
.art-list ul li .art-list-time {
  width: 10%;
  float: right;
  text-align: right;
}
.art-list ul li h2 {
  float: left;
  width: 30%;
  font-size: 32px;
  line-height: 36px;
}
.art-list ul li h2 a {
  color: #000;
}
/*.art-list .art-list-thoughts li h2 {
  font-size: 30px;
}*/
.art-list ul li p {
  float: left;
  width: 50%;
  margin-left: 5%;
  margin-bottom: 0;
}
.full-article {
  display: none;
  font-style: italic;
  font-size: 18px;
  line-height: 14px;
  color: #999;
}
/*.is-full-article h2 {
  font-size: 45px !important;
  line-height: 35px;
}*/
.is-full-article .full-article {
  display: block;
}




body.combo .art-list ul li h2/*,
body.combo .art-subhead */{
  font-family: "helvetica neue";
  font-weight: 100;
  text-transform: uppercase;
}
body.combo .art-list ul li .art-list-time {
  font-family: inherit;
}
body.combo .art-title {
  font-family: "Helvetica neue";
  font-weight: 100;
}
body.combo .art-subtitle {
  font-family: inherit;
  font-size: 14px;
  text-transform: uppercase;
  font-style: normal;
  letter-spacing: 3px;
  line-height: 16px;
}
body.combo .art-time {
  font-family: inherit;
  font-size: 14px;
}
/*body.combo #logo h1,
body.combo .nav-primary li a {
  font-family: "helvetica neue";
  font-weight: 300;
  font-size: 16px;
}*/
/*body.combo .footer,
body.combo .footer a {
  font-family: "helvetica neue";
  font-weight: 300;
  font-style: normal;
}*/







body.tester .art-list ul li h2/*,
body.tester .art-subhead */{
  font-family: "proxima nova";
  font-weight: 700;
  font-size: 26px;
  text-transform: uppercase;
}
body.tester .art-list ul li .art-list-time {
  font-family: inherit;
  text-align: left;
  float: none;
  width: auto;
  letter-spacing: 3px;
  line-height: 20px;
}
body.tester .art-title {
  font-family: "proxima nova";
  font-weight: 700;
  line-height: 105px;
}
body.tester .art-subtitle {
  font-family: inherit;
  font-size: 14px;
  text-transform: uppercase;
  font-style: normal;
  letter-spacing: 4px;
  line-height: 0;
  /*font-family: "proxima nova";*/
  /*font-weight: bold;*/
}
body.tester.masonize .art-list-title {
  margin-bottom: 4px;
}
body.tester .art-time {
  font-family: inherit;
  font-size: 14px;
  line-height: 20px;
  /*font-weight: bold;*/
  /*font-family: "proxima nova"*/
}
body.tester .art-subhead {
  font-family: "proxima nova";
}
body.tester .art-header-inner {
  top: 340px;
}
body.tester .art-list ul {
  margin-top: 20px;
}
body.tester {
  font: 18px/30px ff-tisa-web-pro, "Georgia", serif;
}
body.tester .full-article {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
}

body.tester .art-list ul li p {
  width: 65%;
}
.tester .art-list li:last-child {
  border-bottom: 1px solid #ccc;
}

.tester #logo h1,
.tester .nav-primary li a {
  font-family: "proxima nova";
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
}
.tester .footer,
.tester .footer a {
  font-style: normal;
  font-family: "proxima nova"
}

.masonize.tester .art-list ul {
  margin-left: -40px;
}
.masonize.tester .art-list ul li {
  float: left;
  width: 300px;
  margin-left: 40px;
  padding: 20px 0;
}
.masonize.tester .art-list ul li p {
  margin-left: 0 !important;
  width: auto !important;
}
.masonize.tester .art-list ul li h2 {
  width: auto;
  line-height: 30px;
}
.masonize.tester .art-list-articles {
  margin-bottom: 80px;
}
.masonize.tester .art-list {
  padding-top: 120px;
}
/*.masonize.tester .art-list-section-title {
  font-size: 55px;
}*/
.masonize.tester .art-list-section-subtitle {
  /*font-size: 26px;*/
  /*text-shadow: 4px 0 0 #fff, 0 4px 0 #fff, 0 -4px 0 #fff, -4px 0 0 #fff;*/
}





body.helvetica {
  font: 18px/30px "helvetica neue", "Georgia", serif;
  font-weight: 300;
}
body.helvetica .footer,
body.helvetica .footer a {
  font-style: normal;
}
body.helvetica .art-title {
  font-weight: 100;
  letter-spacing: 0;
}
body.helvetica .art-subtitle {
  font-size: 12px;
  line-height: 16px;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 4px;
}
body.helvetica .art-header-inner {
  top: 320px;
}
body.helvetica #logo h1 {
  font-weight: 300;
}
body.helvetica .nav.white li a,
body.helvetica .nav.white #logo h1 {
  font-size: 18px;
  font-weight: 300;
}
body.helvetica .art-subhead {
  text-transform: none;
  font-size: 26px;
}
body.helvetica .callout {
  font-size: inherit;
  line-height: inherit;
  font-style: normal;
  font-weight: bold;
}
body.helvetica .art-list ul li p {
  font-size: 14px;
  line-height: 24px;
}
body.helvetica .art-list-title {
  font-weight: 100;
}
body.helvetica .art-list-title span {
  font-weight: 300;
  font-style: normal;
  color: #bbb;
}





.masonry,
.masonry .masonry-brick {
  -webkit-transition-duration: 0.7s;
     -moz-transition-duration: 0.7s;
       -o-transition-duration: 0.7s;
          transition-duration: 0.7s;
}

.masonry {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.masonry .masonry-brick {
  -webkit-transition-property: left, right, top;
     -moz-transition-property: left, right, top;
       -o-transition-property: left, right, top;
          transition-property: left, right, top;
}