/* Reset & Basics (Inspired by E. Meyers)
================================================== */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, address, cite, code, em, img, small, strong, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, embed, figure, figcaption, footer, header, hgroup, menu, nav, section, summary, time, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }


/* Body Styles
================================================== */
body {
  font: 17px/28px ff-meta-serif-web-pro, "Georgia", serif;
  color: #333;
  background: #e4e4e4;
  overflow-x: hidden;
}


/* Typography
================================================== */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-family: atrament-web, SteelfishRg-Regular, sans-serif;
  text-transform: uppercase;
  color: #000;
}
p {
  margin: 0 0 26px 0;
}
strong {
  font-weight: bold;
}
em {
  font-style: italic;
}


/* Links
================================================== */
a {
  color: #b20f1f;
  text-decoration: none;
}
a:hover {
  color: #8d0d19;
}


/*  Layout
================================================== */
.wrapper {
  max-width: 1400px;
  margin: 0 auto;
  background: #fff;
}
.nav,
.art-content,
.footer,
.art-list,
.about-me {
  position: relative;
  width: 980px;
  margin: 0 auto;
}

/*  Navbar
================================================== */

.nav {
  z-index: 2;
  padding-top: 50px;
  height: 80px;
  border-bottom: 1px solid #000;
}
#logo {
  float: left;
}
.nav ul {
  float: right;
}
.nav li {
  display: inline-block;
  margin-left: 60px;
}
.nav li a,
.nav #logo h1 {
  font: 30px/30px atrament-web, SteelfishRg-Regular, sans-serif;
  color: #000;
  text-transform: uppercase;
}
.nav li:first-child {
  margin-left: 0; /* Remove left margin from the first nav li */
}

/*  An Article
================================================== */
/* Structure */
.art {
  margin-top: -131px; /* Nav is 130px tall (height + padding) and a 1px border */
}
/* Header */
.art-header {
  height: 500px;
  padding-top: 300px;
  background-position: top center; /* Background image is defined in the post */
}
.art-time {
  display: block;
  font-size: 18px;
  margin-left: auto;
  margin-right: auto;
  font-style: italic;
  text-align: center;
  -webkit-transition: font-size .4s ease-in-out, line-height .4s ease-in-out;
     -moz-transition: font-size .4s ease-in-out, line-height .4s ease-in-out;
          transition: font-size .4s ease-in-out, line-height .4s ease-in-out;
}
.art-title {
  font-size: 150px;
  line-height: 130px;
  margin: -5px auto 10px;
  text-align: center;
  -webkit-transition: font-size .4s ease-in-out, line-height .4s ease-in-out;
     -moz-transition: font-size .4s ease-in-out, line-height .4s ease-in-out;
          transition: font-size .4s ease-in-out, line-height .4s ease-in-out;

}
.art-subtitle {
  font-size: 24px;
  line-height: 30px;
  margin-left: auto;
  margin-right: auto;
  font-style: italic;
  text-align: center;
  -webkit-transition: font-size .4s ease-in-out, line-height .4s ease-in-out;
     -moz-transition: font-size .4s ease-in-out, line-height .4s ease-in-out;
          transition: font-size .4s ease-in-out, line-height .4s ease-in-out;
}

/* Body */
.art-content {
  max-width: 600px;
  padding: 80px 0 50px;
}
.art-content ul {
  margin-bottom: 26px;
}
.art-content ul li {
  list-style: disc;
}
.art-subhead { /* Subheads are used to break up sections of an article */
  font-size: 50px;
  line-height: 55px;
  margin-bottom: 26px;
}
.callout { /* Callouts are like large pullquotes */
  font-size: 24px;
  line-height: 32px;
  font-style: italic;
  color: #000;
}
.art-content img {
  margin-bottom: 26px;
  max-width: 100%;
  max-height: 600px;
}

/* If simple article */
.simple .art-header {
  padding-top: 200px;
  height: auto;
  max-width: 600px;
  margin: 0 auto;
}
.simple .art-content {
  padding-top: 20px;
}
.simple .art-subtitle {
  display: none;
}
.simple .art-title {
  font-size: 100px;
  line-height: 90px;
  text-align: left;
  margin-left: 0;
  margin-right: 0;
}
.simple .art-time {
  text-align: left;
  margin-left: 0;
  margin-right: 0;
}


/*  List of Articles
================================================== */
.art-list {
  padding: 20px 0 80px;
}
.art-list ul {
  margin-left: -20px;
  margin-right: -20px;
}
.art-list li {
  list-style: none;
}
.art-list li a {
  display: block;
  padding: 10px 20px;
  -webkit-transition: all .2s ease-in-out;
     -moz-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;

}
.art-list li a:hover {
  background-color: rgba(0,0,0,.1);
}
.art-list-title {
  font-size: 100px;
  line-height: 90px;
  margin-bottom: 4px;
}
.art-list-subtitle {
  font-style: italic;
  color: #444;
  line-height: 20px;
}

/* If simple post */
.simple .art-list-title {
  font-size: 50px;
  line-height: 50px;
}
.simple .art-list-subtitle {
  font-size: 14px;
}

/* Article list background */
.background-image {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.background-image img {
  min-width: 100%;
  min-height: 100%;
  position: relative;
  top: -50%;
}

/*  About
================================================== */
.about-me {
  padding: 60px 0 ;
}
.about-list {
  font-family: atrament-web, SteelfishRg-Regular, sans-serif;
  text-transform: uppercase;
  font-size: 60px;
  line-height: 60px;
  color: #000;
  margin-bottom: 20px;
}
.about-list a {
  color: #000;
  -webkit-transition: all .2s ease-in-out;
     -moz-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;

}
.about-list .twitter-link:hover {
  color: #0084B4;
}
.about-list .skeleton-link:hover {
  color: #777;
}
.about-list .redditate-link:hover {
  color: #ff4500;
}
.about-list .xbox-link:hover {
  color: #99d037;
}
.about-list .flickr-link:hover {
  color: #ff0084
}
.about-me .contact {
  font-style: italic;
}

/*  Footer
================================================== */
.footer {
  border-top: 1px solid #000;
  padding: 10px 0 100px;
  overflow: hidden;
}
.footer,
.footer a {
  font-size: 15px;
  color: #000;
  font-style: italic;
}
.footer a:hover {
  color: #000;
}
.back-to-top,
.footer-nav,
.offsite-links {
  width: 33.3%;
  float: left;
}
.footer-nav {
  text-align: center;
}
.offsite-links {
  text-align: right;
}
.footer .twitter-link:hover {
  color: #0084B4;
}
.footer .dribbble-link:hover {
  color: #c5376d;
}
.footer .rss-link:hover {
  color: #e85d24;
}
/* Remove prev & next links on loop */
.art-list + .footer .footer-nav a,
.about-me + .footer .footer-nav a {
  visibility: hidden;
}

/*  White Reverse Theme
================================================== */
/* Nav */
.nav.white  {
  border-bottom-color: rgba(255,255,255,.3);
}
.nav.white li a,
.nav.white #logo h1{
  color: #fff;
  text-shadow: 0 0 8px rgba(0,0,0,.5);
}
/* Art header */
.art-header.white {
  background-color: #111;
}
.art-header.white .art-time,
.art-header.white .art-title,
.art-header.white .art-subtitle {
  color: #fff;
  text-shadow: 0 0 8px rgba(0,0,0,.5);
}


/*  Responsive
================================================== */

@media only screen and (max-width: 1080px) {
  .nav,
  .art-content,
  .art-header .art-time,
  .art-header .art-title,
  .art-header .art-subtitle,
  .simple .art-header,
  .footer,
  .art-list,
  .about-me {
    width: 90%;
  }
  /*.art-header .art-title,
  .art-header .art-subtitle {
    margin-left: auto;
    margin-right: auto;
  }*/
  .art-header {
    height: 340px;
    padding-top: 240px;
  }
  .art-time {
    font-size: 16px;
  }
  .art-title {
    font-size: 90px;
    line-height: 80px;
    margin-top: -6px;
    margin-bottom: 4px;
  }
  .art-subtitle {
    font-size: 18px;
    line-height: 24px;
  }
}

@media only screen and (max-width: 750px) {
  .art-content ul {
    margin-left: 20px;
  }
  .art-list-title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 0;
  }
  .simple .art-list-title {
    font-size: 40px;
    line-height: 40px;
  }
}

@media only screen and (max-width: 500px) {
  .nav {
    height: 55px;
    padding-top: 25px;
  }
  .nav li {
    margin-left: 30px;
  }
  .nav li a,
  .nav #logo h1 {
    font-size: 24px;
  }
  .art-header {
    height: 220px;
    padding-top: 160px;
  }
  .art-time {
    font-size: 17px;
  }
  .art-title {
    font-size: 70px;
    line-height: 65px;
  }
  .simple .art-title {
    font-size: 60px;
    line-height: 60px;
    margin-top: 0;
  }
  .art-subtitle {
    font-size: 17px;
    line-height: 22px;
  }
  .art-content {
    padding-top: 40px;
  }
  .art-subhead {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 15px;
  }
  .about-list {
    font-size: 40px;
    line-height: 42px;
  }
  body {
    font-size: 15px;
    line-height: 24px;
  }
  p {
    margin-bottom: 15px;
  }
  .callout {
    font-size: 18px;
    line-height: 26px;
  }
  .art-list {
    padding-bottom: 20px;
  }
  .art-content ul {
    margin-bottom: 15px;
  }
  .footer {
    padding-bottom: 40px;
  }
  .back-to-top,
  .footer-nav {
    width: 50%;
  }
  .back-to-top {
    text-align: left;
  }
  .footer-nav {
    text-align: right;
  }
  .offsite-links {
    float: left;
    width: 100%;
    text-align: left;
  }
  .offsite-links a {
    font-size: 12px;
  }
  .art-list + .footer .footer-nav {
    display: none;
  }
}


/*  Misc
================================================== */
::selection {
  background: #000;
  color: #fff;
}
::-moz-selection {
  background: #000;
  color: #fff;
}
img.left {
  float: left;
  margin-right: 20px;
}
img.right {
  float: right;
  margin-left: 20px;
}
/* Clearfixing pile */
.nav:before,
.art-content:before,
.footer:before,
.art-list:before {
  content:"";
  display:table;
}
.nav:after,
.art-content:after,
.footer:after,
.art-list:after {
  clear:both;
}
.nav,
.art-content,
.footer,
.art-list {
    zoom:1; /* For IE 6/7 (trigger hasLayout) */
}















.shelf {
  width: 300px;
  height: 100%;
  padding: 0 30px;
  position: fixed;
  top: 0;
  right: -380px;
  background: #fff;
  -webkit-box-shadow: 0 -1px 20px rgba(0,0,0,.2);
     -moz-box-shadow: 0 -1px 20px rgba(0,0,0,.2);
          box-shadow: 0 -1px 20px rgba(0,0,0,.2);
  -webkit-transition: all .15s ease-in-out;
     -moz-transition: all .15s ease-in-out;
          transition: all .15s ease-in-out;

}
.shelf-header {
  margin-top: 24px;
  padding-bottom: 20px;
  border-bottom: 1px solid #222;
  overflow: hidden;
}
.shelf-header h5 {
  font-family: ff-meta-serif-web-pro, "Georgia", serif;
  text-transform: none;
  line-height: 100%;
  float: left;
}
.shelf-body h2 {
  font-family: ff-meta-serif-web-pro, "Georgia", serif;
  text-transform: none;
  font-size: 24px;
  line-height: 100%;
}
.shelf-body ul {
  list-style: none;
}
.shelf-body li > a {
  display: block;
  padding: 16px 0;
  border-bottom: 1px solid #eee;
}
.shelf-body .subtitle {
  font-size: 14px;
  font-style: italic;
  color: #777;
  line-height: 100%;
  margin-bottom: 0;
}

.shelf-wash {
  background: rgba(0,0,0,0);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: all .1s ease-in-out;
     -moz-transition: all .1s ease-in-out;
          transition: all .1s ease-in-out;

}





.shelf-open .shelf {
  right: 0px;
}
.shelf-open .shelf-wash {
  background: rgba(0,0,0,.2);
}



.castle {
  float: right;
}


.castle-body,
.castle-body:before,
.castle-body:after {
  -webkit-transition: all .2s linear;
     -moz-transition: all .2s linear;
          transition: all .2s linear;
}

.rampart1,
.rampart2,
.rampart1:before,
.rampart2:before,
.rampart1:after,
.rampart2:after {
  -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
          transition: all .3s ease-in-out;

}



.castle {
  position: relative;
  width: 24px;
  height: 18px;
}
.rampart1,
.rampart2 {
  position: absolute;
  width: 8px;
  height: 18px;
  top: 0;
  left: 0;
  background: #222;
}
.rampart2 {
  right: 0;
  left: auto;
}
.castle-body {
  width: 24px;
  height: 13px;
  position: absolute;
  left: 0;
  bottom: 0;
  background: #222;
}
.rampart1:before,
.rampart2:before,
.rampart1:after,
.rampart2:after  {
  display: block;
  content: 'rampart';
  width: 1px;
  height: 2px;
  background-color: #fff;
  z-index: 2;
  position: absolute;
  text-indent: -9999px;
  top: 0;
  left: 2px;
}
.rampart1:after,
.rampart2:after {
  right: 2px;
  left: auto;
}
.castle-body:before,
.castle-body:after {
  display: block;
  content: 'door';
  width: 6px;
  height: 6px;
  background-color: #fff;
  z-index: 2;
  position: absolute;
  text-indent: -9999px;
  left: 9px;
  top: 6px;
  -webkit-border-radius: 20px;
     -moz-border-radius: 20px;
          border-radius: 20px;
}
.castle-body:after {
  height: 4px;
  bottom: 0;
  top: auto;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}
.shelf-open .rampart1,
.shelf-open .rampart2 {
  width: 4px;
  height: 12px;
  z-index: 100;
  left: 10px;
  top: 5px;
  -webkit-transform:rotate(-45deg);
     -moz-transform:rotate(-45deg);
         -transform:rotate(-45deg);
}
.shelf-open .rampart2 {
  right: 10px;
  left: auto;
  -webkit-transform:rotate(45deg);
     -moz-transform:rotate(45deg);
         -transform:rotate(45deg);
}
.shelf-open .rampart1:before,
.shelf-open .rampart2:before,
.shelf-open .rampart1:after,
.shelf-open .rampart2:after,
.shelf-open .castle-body:before,
.shelf-open .castle-body:after {
  opacity: 0;
}
.shelf-open .castle-body {
  background: #fff;
}
